html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

p{
    padding: 0px;
    margin: 6px 0px;
}

.container{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input{
    width: 400px;
}

.search-container{
    background-color: gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-container{
    display: flex;
    width: 100%;
}

.box{
    margin: 3px;
}

.box-1{
    flex: 3;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-2{
    flex: 2;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-3{
    flex: 3;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}